Repository ARM-software/CMSIS_5, pull requests merged in 2018-12, with the labels that each got.

#430 DSP: fix double-promotion warnings in arm_mat_inverse_f64
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_inverse_f64.c
Labels: DSP, bug, review

#265 removes unnecessary and non-portable type casts
  CMSIS/DSP/Include/arm_math.h
Labels: DSP, review

#166 DSP: fix arm_conv_paratial* bugs.
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_f32.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_fast_q31.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_f32.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_fast_q15.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_fast_q31.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_q15.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_q31.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_partial_q7.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_q31.c
  CMSIS/DSP/Source/FilteringFunctions/arm_conv_q7.c
Labels: DSP, bug, review

#478 CM3: Make ACTLR bit definitions conditional
  CMSIS/Core/Include/core_cm3.h
Labels: CORE, review
