Repository ARM-software/CMSIS_5, pull requests merged in 2019-03, with the labels that each got.

#542 RTOS2: Rebuilt IAR libraries with EVR_RTX_DISABLE and DOMAIN_NS=1 for…
  ARM.CMSIS.pdsc
  CMSIS/RTOS2/RTX/Library/IAR/IDE/RTX_CM.ewp
  CMSIS/RTOS2/RTX/Library/IAR/RTX_CM0.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_CM3.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_CM4F.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MB.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MBN.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MM.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MMF.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MMFN.a
  CMSIS/RTOS2/RTX/Library/IAR/RTX_V8MMN.a
Labels: RTOS, review

#552 DSP: IAR: disabled TrustZone and DSP for relevant targets
  CMSIS/DSP/Lib/IAR/iar_ARMv8MBLl_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLl_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLld_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLldfdp_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLldfsp_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLlfdp_math.a
  CMSIS/DSP/Lib/IAR/iar_ARMv8MMLlfsp_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM0b_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM0l_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM3b_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM3l_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM4b_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM4bf_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM4l_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM4lf_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7b_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7bf_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7bs_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7l_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7lf_math.a
  CMSIS/DSP/Lib/IAR/iar_cortexM7ls_math.a
  CMSIS/DSP/Projects/IAR/arm_cortexM_math.ewp
Labels: DSP

#559 Cortex-M7: Add SCB_InvalidateICache_by_Addr
  CMSIS/Core/Include/core_cm7.h
Labels: CORE, enhancement
