Repository ARM-software/CMSIS_5, pull requests merged in 2021-06, with the labels that each got.

#1200 CMSIS-NN: Multiple batches depthwise
  CMSIS/NN/Source/ConvolutionFunctions/arm_depthwise_conv_s8.c
  CMSIS/NN/Source/ConvolutionFunctions/arm_depthwise_conv_wrapper_s8.c
  CMSIS/NN/Tests/UnitTest/PregeneratedData/depthwise_mult_batches/bias.txt
  CMSIS/NN/Tests/UnitTest/PregeneratedData/depthwise_mult_batches/input.txt
  CMSIS/NN/Tests/UnitTest/PregeneratedData/depthwise_mult_batches/kernel.txt
  CMSIS/NN/Tests/UnitTest/PregeneratedData/depthwise_mult_batches/params.txt
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/biases_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/config_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/input_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/output_mult_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/output_ref_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/output_shift_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/test_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/TestData/depthwise_mult_batches/weights_data.h
  CMSIS/NN/Tests/UnitTest/TestCases/test_arm_depthwise_conv_s8/Unity/unity_test_arm_depthwise_conv_s8.c
  CMSIS/NN/Tests/UnitTest/TestCases/test_arm_depthwise_conv_s8/test_arm_depthwise_conv_s8.c
  CMSIS/NN/Tests/UnitTest/generate_test_data.py
Labels: NN, review

#1209 Doxygen: Fix support statement for SIMD instructions.
  CMSIS/DoxyGen/Core/src/Ref_cm4_simd.txt
Labels: CORE, documentation

#1208 Rebrand CMSIS to Common Microcontroller Software Interface Standard.
  ARM.CMSIS.pdsc
  CMSIS/DoxyGen/General/general.dxy
  CMSIS/DoxyGen/Pack/src/pack_creation.txt
  CMSIS/DoxyGen/Pack/src/pdsc_format.txt
Labels: documentation

#1205 CMSIS-Core(M): added instruction barrier (ISB) to set_CONTROL functio…
  CMSIS/Core/Include/cmsis_iccarm.h
Labels: CORE

#1203 CMSIS-Core(M): added instruction barrier (ISB) to set_CONTROL functions.
  CMSIS/Core/Include/cmsis_armcc.h
  CMSIS/Core/Include/cmsis_armclang.h
  CMSIS/Core/Include/cmsis_armclang_ltm.h
  CMSIS/Core/Include/cmsis_gcc.h
Labels: CORE, review

#1212 Device: Cleanup IRQ names to follow known standard.
  CMSIS/DoxyGen/Core/src/Ref_CoreReg.txt
  CMSIS/DoxyGen/Core/src/Ref_NVIC.txt
  CMSIS/DoxyGen/Core/src/Template.txt
  CMSIS/DoxyGen/RTOS/src/cmsis_os.txt
  Device/ARM/ARMCM3/Source/ARM/startup_ARMCM3.s
  Device/ARM/ARMCM3/Source/GCC/startup_ARMCM3.S
  Device/ARM/ARMCM3/Source/IAR/startup_ARMCM3.s
  Device/ARM/ARMCM3/Source/startup_ARMCM3.c
  Device/ARM/ARMCM35P/Source/startup_ARMCM35P.c
  Device/ARM/ARMCM4/Source/ARM/startup_ARMCM4.s
  Device/ARM/ARMCM4/Source/GCC/startup_ARMCM4.S
  Device/ARM/ARMCM4/Source/IAR/startup_ARMCM4.s
  Device/ARM/ARMCM4/Source/startup_ARMCM4.c
  Device/ARM/ARMCM55/Include/ARMCM55.h
  Device/ARM/ARMCM55/Source/startup_ARMCM55.c
  Device/ARM/ARMCM7/Include/ARMCM7.h
  Device/ARM/ARMCM7/Include/ARMCM7_DP.h
  Device/ARM/ARMCM7/Include/ARMCM7_SP.h
  Device/ARM/ARMCM7/Source/ARM/startup_ARMCM7.s
  Device/ARM/ARMCM7/Source/GCC/startup_ARMCM7.S
  Device/ARM/ARMCM7/Source/IAR/startup_ARMCM7.s
  Device/ARM/ARMCM7/Source/startup_ARMCM7.c
  Device/ARM/ARMSC000/Include/ARMSC000.h
  Device/ARM/ARMSC000/Source/ARM/startup_ARMSC000.s
  Device/ARM/ARMSC000/Source/GCC/startup_ARMSC000.S
  Device/ARM/ARMSC000/Source/IAR/startup_ARMSC000.s
  Device/ARM/ARMSC000/Source/startup_ARMSC000.c
  Device/ARM/ARMSC300/Include/ARMSC300.h
  Device/ARM/ARMSC300/Source/ARM/startup_ARMSC300.s
  Device/ARM/ARMSC300/Source/GCC/startup_ARMSC300.S
  Device/ARM/ARMSC300/Source/IAR/startup_ARMSC300.s
  Device/ARM/ARMSC300/Source/startup_ARMSC300.c
  Device/ARM/ARMv81MML/Include/ARMv81MML_DSP_DP_MVE_FP.h
  Device/ARM/ARMv81MML/Source/startup_ARMv81MML.c
  Device/ARM/ARMv8MBL/Include/ARMv8MBL.h
  Device/ARM/ARMv8MBL/Source/ARM/startup_ARMv8MBL.S
  Device/ARM/ARMv8MBL/Source/GCC/startup_ARMv8MBL.S
  Device/ARM/ARMv8MBL/Source/IAR/startup_ARMv8MBL.s
  Device/ARM/ARMv8MBL/Source/startup_ARMv8MBL.c
  Device/ARM/ARMv8MML/Include/ARMv8MML.h
  Device/ARM/ARMv8MML/Include/ARMv8MML_DP.h
  Device/ARM/ARMv8MML/Include/ARMv8MML_DSP.h
  Device/ARM/ARMv8MML/Include/ARMv8MML_DSP_DP.h
  Device/ARM/ARMv8MML/Include/ARMv8MML_DSP_SP.h
  Device/ARM/ARMv8MML/Include/ARMv8MML_SP.h
  Device/ARM/ARMv8MML/Source/ARM/startup_ARMv8MML.S
  Device/ARM/ARMv8MML/Source/GCC/startup_ARMv8MML.S
  Device/ARM/ARMv8MML/Source/IAR/startup_ARMv8MML.s
  Device/ARM/ARMv8MML/Source/startup_ARMv8MML.c
Labels: CORE, documentation

#973 CMSIS-DAP: DAP_Info documentation clarifications
  CMSIS/DoxyGen/DAP/src/dap_USB_cmds.txt
Labels: DAP, review

#1222 CMSIS-DAP: remove trailing whitespace on reference code
  CMSIS/DAP/Firmware/Config/DAP_config.h
  CMSIS/DAP/Firmware/Source/DAP.c
  CMSIS/DAP/Firmware/Source/DAP_vendor.c
  CMSIS/DAP/Firmware/Source/SWO.c
Labels: DAP
