Repository ARM-software/CMSIS_5, pull requests merged in 2021-02, with the labels that each got.

#1046 Doxygen: Fixed XML schema documentation (issue #1044)
  CMSIS/DoxyGen/Pack/src/pdsc_format.txt
  CMSIS/DoxyGen/SVD/src/svd_schema.txt
  CMSIS/DoxyGen/Zone/src/XML_Format.txt
Labels: Pack, SVD, Zone, bug

#1081 DoxyGen: remind users to enable trace before using PMU
  CMSIS/DoxyGen/Core/src/Ref_PMU8.txt
Labels: CORE, documentation

#1120 CoreValidation: Updat build config and script.
  CMSIS/CoreValidation/Tests/RTE_Components.h
  CMSIS/CoreValidation/Tests/ac6.rtebuild
  CMSIS/CoreValidation/Tests/ac6ltm.rtebuild
  CMSIS/CoreValidation/Tests/ac6stbl.rtebuild
  CMSIS/CoreValidation/Tests/armclang.rtebuild
  CMSIS/CoreValidation/Tests/bootloader/RTE_Components.h
  CMSIS/CoreValidation/Tests/bootloader/armclang.rtebuild
  CMSIS/CoreValidation/Tests/bootloader/bootloader.rtebuild
  CMSIS/CoreValidation/Tests/bootloader/config/core_m/partition_ARMCM55.h
  CMSIS/CoreValidation/Tests/bootloader/gcc.rtebuild
  CMSIS/CoreValidation/Tests/build.py
  CMSIS/CoreValidation/Tests/config/ARMCM23NS_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM23S_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM33NS_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM33S_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM35PNS_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM35PS_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM55NS_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM55S_config.txt
  CMSIS/CoreValidation/Tests/config/ARMCM55_config.txt
  CMSIS/CoreValidation/Tests/config/core_m/partition_ARMCM55.h
  CMSIS/CoreValidation/Tests/gcc.rtebuild
  CMSIS/CoreValidation/Tests/tests.rtebuild
  CMSIS/CoreValidation/Tests/validation.xsl
Labels: CORE, review

#1118 ConfigWizard: Extend annotation syntax
  CMSIS/DoxyGen/Pack/src/config_wizard.txt
Labels: DONE, Pack

#1125 CMSIS-NN: Make unit test more independent
  CMSIS/NN/Tests/UnitTest/CMakeLists.txt
  CMSIS/NN/Tests/UnitTest/Corstone-300/linker.ld
  CMSIS/NN/Tests/UnitTest/Corstone-300/linker.scatter
  CMSIS/NN/Tests/UnitTest/Corstone-300/retarget.c
  CMSIS/NN/Tests/UnitTest/Corstone-300/uart.c
  CMSIS/NN/Tests/UnitTest/Corstone-300/uart.h
  CMSIS/NN/Tests/UnitTest/README.md
Labels: NN, review

#1128 CMSIS-NN: Update revision number & support info
  ARM.CMSIS.pdsc
  CMSIS/DoxyGen/NN/src/history.txt
  CMSIS/NN/README.md
Labels: NN, review

#1133 CMSIS-Core : Add support for __SXTAB16_RORn
  CMSIS/Core/Include/cmsis_armcc.h
  CMSIS/Core/Include/cmsis_armclang.h
  CMSIS/Core/Include/cmsis_armclang_ltm.h
  CMSIS/Core/Include/cmsis_gcc.h
  CMSIS/Core/Include/cmsis_iccarm.h
  CMSIS/CoreValidation/Source/CV_CoreSimd.c
  CMSIS/DoxyGen/Core/src/Ref_cm4_simd.txt
Labels: CORE, review
