Repository ARM-software/CMSIS_5, pull requests merged in 2021-09, with the labels that each got.

#1306 CMSIS-DSP: Correct interpol(...) arg in ComplexMathFunctions CMakeLists.txt
  CMSIS/DSP/Source/ComplexMathFunctions/CMakeLists.txt
Labels: review, DSP

#1299 DoxyGen: Fixed documentation of cache maintenance functions.
  CMSIS/DoxyGen/Core/src/core_cm7.txt
Labels: documentation, review, CORE

#1313 DoxyGen: Fix broken links.
  CMSIS/DoxyGen/Driver/src/Driver_SAI.c
Labels: documentation
