Repository ARM-software/CMSIS_5, pull requests merged in 2022-04, with the labels that each got.

#1450 Fixing compilation issue with Visual Studio 2022 in Arm64EC
  CMSIS/DSP/Include/arm_math_types.h
Labels: review, DSP

#1458 Add script to fetch PackChk/SVDConv from their release location.
  CMSIS/Utilities/Linux64/PackChk
  CMSIS/Utilities/Linux64/SVDConv
  CMSIS/Utilities/Win32/PackChk.exe
  CMSIS/Utilities/Win32/SVDConv.exe
  CMSIS/Utilities/fetch_devtools.sh
  CMSIS/Utilities/gen_pack.sh
  Jenkinsfile
Labels: CI

#1460 Update core_starmc1.h
  CMSIS/Core/Include/core_starmc1.h
Labels: CORE

#1443 DSP: Remove undefined behavior in post-increment/decrement read
  CMSIS/DSP/Include/arm_math_memory.h
  CMSIS/DSP/Source/BasicMathFunctions/arm_add_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_add_q7.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_dot_prod_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_dot_prod_q7.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_mult_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_negate_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_negate_q7.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_offset_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_offset_q7.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_scale_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_sub_q15.c
  CMSIS/DSP/Source/BasicMathFunctions/arm_sub_q7.c
  CMSIS/DSP/Source/ComplexMathFunctions/arm_cmplx_conj_q15.c
  CMSIS/DSP/Source/ComplexMathFunctions/arm_cmplx_mag_fast_q15.c
  CMSIS/DSP/Source/ComplexMathFunctions/arm_cmplx_mag_q15.c
  CMSIS/DSP/Source/ComplexMathFunctions/arm_cmplx_mag_squared_q15.c
  CMSIS/DSP/Source/ComplexMathFunctions/arm_cmplx_mult_real_q15.c
  CMSIS/DSP/Source/FilteringFunctions/arm_biquad_cascade_df1_fast_q15.c
  CMSIS/DSP/Source/FilteringFunctions/arm_fir_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_cmplx_mult_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_mult_fast_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_mult_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_scale_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_sub_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_trans_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_vec_mult_q15.c
  CMSIS/DSP/Source/MatrixFunctions/arm_mat_vec_mult_q7.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_mean_q15.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_mean_q7.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_power_q15.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_power_q7.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_rms_q15.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_std_q15.c
  CMSIS/DSP/Source/StatisticsFunctions/arm_var_q15.c
  CMSIS/DSP/Source/SupportFunctions/arm_copy_q15.c
  CMSIS/DSP/Source/SupportFunctions/arm_copy_q7.c
  CMSIS/DSP/Source/SupportFunctions/arm_q15_to_q31.c
  CMSIS/DSP/Source/SupportFunctions/arm_q15_to_q7.c
  CMSIS/DSP/Source/SupportFunctions/arm_q7_to_q15.c
  CMSIS/DSP/Source/SupportFunctions/arm_q7_to_q31.c
  CMSIS/DSP/Source/TransformFunctions/arm_cfft_q15.c
  CMSIS/DSP/Source/TransformFunctions/arm_cfft_radix4_q15.c
Labels: review, DSP

#1463 NN: Change syntax of immediate values in inline assembler
  CMSIS/NN/Include/arm_nnsupportfunctions.h
  CMSIS/NN/Source/NNSupportFunctions/arm_nn_mat_mul_core_1x_s8.c
  CMSIS/NN/Source/NNSupportFunctions/arm_nn_mat_mul_core_4x_s8.c
Labels: review, NN

#1301 DAP: refactor clock delay calculation
  CMSIS/DAP/Firmware/Source/DAP.c
Labels: review, DAP

#1468 CMSIS-Core(M): Add Cortex-M85 support
  ARM.CMSIS.pdsc
  CMSIS/Core/Include/core_cm85.h
  CMSIS/Core/Include/pac_armv81.h
  CMSIS/DoxyGen/SVD/src/svd.txt
  CMSIS/DoxyGen/SVD/src/svd_schema.txt
  CMSIS/DoxyGen/SVD/svd.dxy
  CMSIS/Utilities/CMSIS-SVD.xsd
  Device/ARM/ARMCM85/Include/ARMCM85.h
  Device/ARM/ARMCM85/Include/Template/partition_ARMCM85.h
  Device/ARM/ARMCM85/Include/system_ARMCM85.h
  Device/ARM/ARMCM85/Source/ARM/ARMCM85_ac6.sct
  Device/ARM/ARMCM85/Source/ARM/ARMCM85_ac6_s.sct
  Device/ARM/ARMCM85/Source/GCC/gcc_arm.ld
  Device/ARM/ARMCM85/Source/startup_ARMCM85.c
  Device/ARM/ARMCM85/Source/system_ARMCM85.c
  Device/ARM/SVD/ARMCM85.svd
Labels: CORE, CI

#1471 CMSIS-NN: Improve performance for armclang 6.18
  CMSIS/NN/Source/NNSupportFunctions/arm_nn_vec_mat_mult_t_s8.c
Labels: NN

#1473 CMSIS-NN: Correct SVDF bug for ARM_MATH_DSP #1472
  CMSIS/NN/Source/SVDFunctions/arm_svdf_s8.c
  CMSIS/NN/Source/SVDFunctions/arm_svdf_state_s16_s8.c
Labels: bug, review, NN
