Repository ARM-software/CMSIS_5, pull requests merged in 2023-04, with the labels that each got.

#1607 Core(M): Capitalize ETM register definition macros (#1604).
  CMSIS/Core/Include/core_cm3.h
  CMSIS/Core/Include/core_cm4.h
  CMSIS/Core/Include/core_cm7.h
  CMSIS/Core/Include/core_sc300.h
Labels: CORE

#1600 Core A: cache: instr mva
  CMSIS/Core_A/Include/cmsis_cp15.h
  CMSIS/Core_A/Include/core_ca.h
Labels: review, CORE

#1614 Enable support for TI Arm Clang Compiler (tiarmclang)
  CMSIS/Core/Include/cmsis_compiler.h
  CMSIS/Core/Include/cmsis_tiarmclang.h
  CMSIS/Core/Include/core_armv81mml.h
  CMSIS/Core/Include/core_armv8mbl.h
  CMSIS/Core/Include/core_armv8mml.h
  CMSIS/Core/Include/core_cm0.h
  CMSIS/Core/Include/core_cm0plus.h
  CMSIS/Core/Include/core_cm1.h
  CMSIS/Core/Include/core_cm23.h
  CMSIS/Core/Include/core_cm3.h
  CMSIS/Core/Include/core_cm33.h
  CMSIS/Core/Include/core_cm35p.h
  CMSIS/Core/Include/core_cm4.h
  CMSIS/Core/Include/core_cm55.h
  CMSIS/Core/Include/core_cm7.h
  CMSIS/Core/Include/core_cm85.h
  CMSIS/Core/Include/core_sc000.h
  CMSIS/Core/Include/core_sc300.h
  CMSIS/Core/Include/core_starmc1.h
  CMSIS/CoreValidation/Layer/Target/CM0/RTE/Device/ARMCM0/tiac_arm.cmd
  CMSIS/CoreValidation/Layer/Target/CM0plus/RTE/Device/ARMCM0P/tiac_arm.cmd
  CMSIS/CoreValidation/Layer/Target/CM3/RTE/Device/ARMCM3/tiac_arm.cmd
  CMSIS/CoreValidation/Layer/Target/CM33/RTE/Device/ARMCM33_DSP_FP/tiac_arm.cmd
  CMSIS/CoreValidation/Layer/Target/CM4/RTE/Device/ARMCM4/tiac_arm.cmd
  CMSIS/CoreValidation/Layer/Target/CM4FP/RTE/Device/ARMCM4_FP/tiac_arm.cmd
  CMSIS/CoreValidation/Source/CV_CoreFunc.c
Labels: review, CORE

#1620 Core(M): Add Cortex-M55/M85 EWIC register (#1618).
  CMSIS/Core/Include/core_cm55.h
  CMSIS/Core/Include/core_cm85.h
Labels: enhancement, CORE

#1622 Correct bit field width in EWIC Event Number ID Reg and TCM Error Bank Reg
  CMSIS/Core/Include/core_cm55.h
  CMSIS/Core/Include/core_cm85.h
Labels: bug, CORE
